@model VendasWebMvc.Models.ViewModels.EmpresaFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
              <input type="hidden" asp-for="Empresa.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empresa.Nome" class="control-label"></label>
                <input asp-for="Empresa.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Empresa.NomeFantasia" class="control-label"></label>
                <input asp-for="Empresa.NomeFantasia" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Empresa.CNPJ" class="control-label"></label>
                <input asp-for="Empresa.CNPJ" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
